{% extends "base_2.html" %}

{% block title %} Passwort ändern {% endblock %}

{% block body %}

<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Passwort ändern</h1><br>
        <form method="POST" action="{{ url_for('change_password_handler') }}">
            <input type="password" name="old_password" id="old_password" placeholder="Altes Passwort..." required>
            <input type="password" name="new_password" id="new_password" placeholder="Neues Passwort..." required>
            <input type="password" name="new_password_confirm" id="new_password_confirm"
                   placeholder="Neues Passwort wiederholen..." required>
            <input type="hidden" name="h_token" value="{{ token }}">
            <input type="hidden" name="h_uid" value="{{ uid }}">
            <input type="submit" name="login" class="login loginmodal-submit" value="Abschicken">
        </form>
    </div>
</div>

{% endblock %}
