{% extends "base.html" %}

{% block title %} Information{% endblock %}

{% block navigation %}
<div>
    <button class="admin" class="menubtn"><a href="{{ url_for('index') }}" class="nav_link">Start</a>
    </button>
    <br/>
    <!-- Button to open the modal login form -->
    <button class="login" onclick="document.getElementById('id01').style.display='block'">Login</button>
    <br>
    <!-- Button to open the modal -->
    <button class="signup" onclick="document.getElementById('id02').style.display='block'">Sign Up</button>
    <br>

    {% if logged_in %}
    {% if admin %}
    <button class="admin" class="menubtn"><a href="{{ url_for('admin_dashboard') }}">Administration</a></button>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block body %}
<p>{{ info_text }}</p>
{% endblock %}
