{% extends "base_2.html" %}

{% block title %} Passwort zurücksetzen{% endblock %}

{% block body %}

<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Passwort zurücksetzen</h1><br>
        <form method="POST" action="{{ url_for('handle_password_reset') }}">
            <input type="email" name="reset_email" id="reset_email" placeholder="Email" required>
            <input type="submit" name="login" class="login loginmodal-submit" value="Abschicken">
        </form>
    </div>
</div>

{% endblock %}
